{% extends "layout/main.twig" %}


{% block header_content %}
<meta name="description" content="404 Not Found Error">
<meta name="author" content="{{ author }}">
<meta name="ROBOTS" content="NOSNIPPET"/>
<title>{{ appname }} Error 404</title>
{% endblock %}


    {% block content %}
        <div class="container mt-5">
            <div class="body-content">
				404	
            </div>
        </div>
    {% endblock %}
