{% extends "layout/main.twig" %}

{% block header_content %}
    <meta name="description" content="Internal Server Error">
    <meta name="ROBOTS" content="NOSNIPPET"/>
    <title>{{ appname }}|500 Internal Server Error</title>
{% endblock %}


{% block content %}
    <div class="content-wrapper">
		500 
    </div>
{% endblock %}
